<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a routerLink='/'>Storyteller</a>
    </div>
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-link" routerLink='stories' routerLinkActive='active' >
          Stories
        </a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" routerLink='stories/featured' routerLinkActive='active' >
          Featured
        </a>
      </li>
      <li class="navbar-item" *ngIf='!isLoggedIn()'>
        <a class="navbar-link" routerLink='signin' routerLinkActive='active' >
          Sign In
        </a>
      </li>
      <li class="navbar-item" *ngIf='!isLoggedIn()'>
        <a class="navbar-link" routerLink='signup' routerLinkActive='active' >
          Sign Up
        </a>
      </li>
      <li class="navbar-item" *ngIf='isLoggedIn()'>
        <app-logout></app-logout>
      </li>
    </ul>
  </div>
</nav>
