<div class="row-spacer"></div>
<h3>Sign In!</h3>
<form [formGroup]='signInForm' (ngSubmit)='onSubmit()'>
  <div class="row">
    <div class="four columns">
      <label for="email">Email</label>
      <input class="u-full-width" type="text" formControlName='email'>
    </div>
    <div class="four columns form-group">
      <label for="password">Password</label>
      <input class="u-full-width" type="password" formControlName='password'>
    </div>
  </div>
  <div class="row">
    <button type="submit" class="button-primary" [disabled]='!signInForm.valid'>
      Submit
    </button>
  </div>
</form>
