h3 {
  font-size:2.1em;
}

h5 {
  font-size:.9em;
  color:#999;
}

.story-main-img-container {
  overflow: hidden;
}

.main-img{
  min-height:270px;
  width:100%;
  background-size:cover !important;
  background-position:center !important;
  transition:background-position-y 2s ease;
}

.story-details {
  padding:2.0em 2.5em;
}

.story-details > hr {
  margin-top:1em;
  margin-bottom:1.5em;
}

p.content {
  height:100px;
  overflow:hidden;
  margin-bottom: 3.5em;
}

ul.tags {
  list-style-type:none;
  margin:0;
}

ul.tags > li {
  display:inline;
  margin-right:10px;
}

ul.tags > li > a.tag-link {
  text-transform:capitalize;
  letter-spacing: .05em;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  color:#999;
  text-decoration: none;
  transition: color .5s ease, border-color .5s ease;
}

ul.tags > li > a.tag-link:hover{
    color:#8D4DF4;
    border-color:#8D4DF4;
}

span.ionicon {
    font-size: 23px;
    line-height: 0;
    margin-right: 30px;
    cursor:pointer;
    float: right;
}

span.ionicon:hover {
    color: #8D4DF4;
}
