li {
  border-top: 3px solid #8D4DF4;
  list-style-type: none;
  box-shadow: 4px 10px 19px rgba(0,0,0,.15);
  margin-top: 2.5em;
  transition: box-shadow .5s ease;
}

li:hover {
  box-shadow: 1px 15px 32px rgba(0,0,0,.15)
}

/deep/ li:hover > app-post > .story-main-img-container > .main-img {
  background-position-y: 55% !important;
}
