.full-w-bg {
  background-attachment: fixed !important;
  background-repeat:nono-repeat !important;
  background-size:cover !important;
  background-position:center !important;
  height:350px;
  padding-left: 3000px;
  margin-left: -3000px;
  padding-right: 3000px;
  margin-right: -3000px;
}


.container-2 {
  max-width:960px;
  margin:0 auto;
}


p.p_intro:first-letter {
  font-family:'Raleway', sans-serif;
  float: left;
  color:#000;
  font-size: 77px;
  font-weight:700;
  line-height: 49px;
  padding-top: 12px;
  padding-right: 14px;
  font-weight:700;
}

p {
  margin-bottom:40px;
  letter-spacing:.05em;
}

.heading-text {
  line-height:140%;
  color:#000;
  margin-top:65px;
}

h5 {
  font-size:1.1em;
}

p.p_intro {
  margin-top:45px;
}

span.author {
  display:inline;
  font-size:15px;
  font-style:italic;
}

h2 {
  font-family: 'PT Serif',serif;
  font-weight:700;
  padding-bottom: 0.5em;
}

ul.story-editing {
    list-style-type:none;
    float:right;
}

ul.story-editing > li {
    display:inline-block;
    margin-left:15px;
}

ul.story-editing > li > a {
   border-bottom:1px solid #ccc;
   padding:4px;
   color:#333;
   cursor:pointer;
   text-decoration:none;
}

ul.story-editing > li > a:hover {
   color:#8d4df4;
   border-color:#8d4df4;
}

.offset {
  visibility:hidden;
}

.story-content {
  margin-top:40px;
}

/* Icons */
a > span {
  margin-right:4px;
}
